name: Deploy static content using FTP then run OWASP ZAP

on:
  push:
    branches: ["main"]

jobs:     
  deploy_and_scan:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Upload files
        uses: SamKirkland/FTP-Deploy-Action@v4.3.4
        with:
          server: ftp.kodehauz.dev
          username: kodehauzdev-staging-ftp@staging.kodehauz.dev
          password: ${{ secrets.FTP_PASSWORD }}
          local-dir: ./frontend
      - name: ZAP Scan
        uses: zaproxy/action-full-scan@v0.8.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          docker_name: 'ghcr.io/zaproxy/zaproxy:stable'
          target: ${{ secrets.ZAP_HOST_URL }}
          rules_file_name: '.zap/rules.tsv'
          cmd_options: '-a'
